<div class="text-slate-200">
    <div class="container-svg-slider">
        <!-- Here and below we're using the same pre-defined path -->
        <svg id="svg-slider" width="0" height="0">
            <defs>

                <!-- <path id="gradient-path" d="M36.5,91.2C-7.5,185.5,99.3,224.4,170,203.1c55-16.6,57.8-87.4,1.6-104C71,69.5,9.4,207.7,46,228.6c62.7,35.8,189.7-116,133-211"/> -->
                <path id="gradient-path" d="
                    M0 100 L80 100

                    M100 80 A 50 50 0 0 1 200 80



                    M80 100
                    C80, 100
                    100 100
                    100 80

                    M200 80
                    C200, 80,
                    200 100
                    220 100

                    M220 100
                    500 100
                    z
                "></path>
            </defs>
        </svg>

        <svg id="svg-background" class="svg-background">
            <defs>
                <!-- <filter id="blurMe">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
                  </filter> -->
                <linearGradient id="linear-grad">
                    <stop offset="0" stop-color="#1e2234"/>
                    <stop offset="0.05" stop-color="green"/>
                    <stop offset="0.5" stop-color="yellow"/>
                    <stop offset="0.95" stop-color="red"/>
                    <stop offset="1" stop-color="#1e2234"/>
                </linearGradient>
                <linearGradient id="linear-grad-full">
                    <stop offset="0" stop-color="green"/>
                    <stop offset="0.5" stop-color="yellow"/>
                    <stop offset="1" stop-color="red"/>
                </linearGradient>
            </defs>
            <use
                class="blur-filter"
                xlink:href="#gradient-path"
                stroke="url(#linear-grad-full)"
                fill="none" filter="url(#blurMe)"
                stroke-width="8"/>
            <use xlink:href="#gradient-path" stroke="url(#linear-grad)" fill="transparent" stroke-width="5"/>
        </svg>

    </div>
    <div class="container-slider">
        <div class="slider" id="slider">
            <span id="drag-area" class="drag-area"></span>
            <div class="content-slider">
                <div class="icone-dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div>
                    <span>18º C</span>
                </div>
            </div>
        </div>
    </div>
</div>
