.container-svg-slider {

    .blur-filter {
        filter: blur(20px) opacity(0.3) drop-shadow(4px 4px #fff)
    }
    .svg-background {
        height: 104px;
        width: 100%;
    }
    svg {
        // margin: 0 auto;
        // display: block;
    }
}
.container-slider {
    // border: 1px solid red;
    position: relative;
    top: -35px;

    .slider {
        position: absolute;

        width: 40px;
        height: 65px;


        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        cursor: move;
        z-index: 2;
        transform: translateX(56px);
        scale: .8;

        .content-slider{
            position: relative;
            z-index: 10;
            border-radius: 50px;
            background-color: #333853;
            display: flex;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 10px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            background-color: #11141f;
            opacity: .1;
            z-index: 1;
            border-radius: 65px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        .drag-area{
            position: absolute;
            // border: 1px solid red;
            height: 100%;
            width: 100%;
            display: block;
            z-index: 15;
        }
        // .debugger-slider {
        //     position: fixed;
        //     background-color: rgb(173, 73, 73);
        //     padding: .5rem;
        //     top: 0;
        //     left: 0;
        // }
        .icone-dots {
            display: flex;
            flex-wrap: wrap;
            width: 20px;
            gap: 3px;
            margin-bottom: 8px;
            align-items: center;
            justify-content: center;

            .dot {
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background-color: #121520;
            }
        }
    }
}